<div id="error_explanation">
  <h2>
    <%= I18n.t("errors.messages.not_saved",
                count: errors_count(resource)
                resource: resource_class(resource))
      %>
  </h2>
  <ul>
    <li><%= error_messages %></li>
  </ul>
</div>
