<div class="columns is-centered">
  <div class="column is-centered">
    <div class="group-tile-wrapper">
      <%= render @groups %>
    </div>
  </div>
</div>
<%= create_group_button(current_user) %>