<%= render 'groups/form'%>
<% @groups.each do |group| %>
  <p><%= link_to group.name, user_group_path(current_user, group) %> </p>
  <% if group.icon.attached? %>
    <img src="<%= url_for(group.icon) %>">
  <% end %>
  <hr>
<% end %>