
<h2 class="title is-3"><%= link_to  "All Activities", user_activities_path(current_user) %></h2>
<h2 class="title is-3"><%= link_to  "Ungrouped Activities", users_path %></h2>
<h2 class="title is-3"><%= link_to  "Activity Groups", groups_path %></h2>
