<div class="columns is-centered">
  <div class="column is-three-quarters-tablet is-half-desktop">
    <% home_page_links(current_user).each do |link| %>
    <div class="links-wrapper">
      <div class="links-left">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </div>
      <div class="links-right">
        <h2 class="title is-3 has-text-white"><%= link %></h2>
      </div>
    </div>
    <% end %>
  </div>
</div>
