<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h2 class="title is-3"><%= link_to  "All Activities", user_activities_path(current_user) %></h2>
        <h2 class="title is-3"><%= link_to  "Uncategorized Activities" %></h2>
        <h2 class="title is-3"><%= link_to  "Activity Categories" %></h2>
      </div>
    </div>
  </div>
</div>