<div class="columns is-centered">
  <div class="column is-two-thirds-desktop">
    <div class="tile-wrapper">
      <div class="tile">
        <div class="tile-left">
          <figure class="image is-128x128">
            <img class="tile-img" src="<%= activity_image_src(activity) %>" alt="activity_group_icon">
          </figure>
        </div>
        <div class="tile-right">
          <div class="tile-top">
            <div class="tile-activity-name">
              <%= activity.name %>
            </div>
            <div class="tile-activity-time">
              <%= "#{activity.amount} minutes" %>
            </div>
          </div>
          <div class="tile-bottom">
              <%= "#{activity.created_at}" %>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>