<div class="columns is-centered">
  <div class="column">
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img src="<%= activity_image_src(activity) %>" alt="activity_group_icon">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <div>
              <strong><%= activity.name %></strong>
              <span><%= "#{activity.amount} minutes" %></span>
              <br>
            </div>
            <div>
              <strong><%= "#{activity.created_at}" %></strong>
              <br>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>