<div class="columns is-centered mb-6">
  <div class="column is-two-thirds-tablet is-half-desktop has-background-white-bis">
   <h2 class="title is-2 has-text-centered">Create a New Activity</h2>
    <%= render 'activities/form' %>
  </div>
</div>