<% if user_signed_in? %>
  <p class="control">
    <%= link_to "My Events", user_path(current_user.id), class: "has-text-white has-text-weight-bold is-vcentered" %>
  </p>
  <p class="control">
    <%= link_to  "Logout", destroy_user_session_path, method: :delete, class: "button is-primary" %>
  </p>
<% else %>
  <p class="control">
    <%= link_to  "Log In", new_user_session_path, class:"button is-primary" %>
    </p>
  <p class="control">
    <%= link_to "Sign Up", new_user_registration_path, class: "button is-primary" %>
  </p>
<% end %>