<nav class="navbar is-fixed-top is-primary">
  <div class="navbar-brand custom-centered ml-3">
      <%= link_to_home_page %>
      <%= link_to_current_user_name %>

    <div class="navbar-burger burger" data-target="navbarExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navbarExample" class="navbar-menu">
    <div class="navbar-end mr-3">
      <div class="field is-grouped custom-centered">
        <p class="control">
          <%= link_to_create_activity %>
        </p>
        <%= render 'layouts/login_logout_buttons' %>
      </div>
    </div>
  </div>
</nav>